/* GLOBALES */

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* font-size: 62.5%; */
}

p {
  margin-bottom: 0; /* RESET SCSS*/
}

main {
  width: 100%;
}

body {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.botonesPrincipales {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.boton {
  width: 110px;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(7, 82, 143);
  border: none;
  color: white;
  font-weight: 800;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.botonred {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(201, 57, 13);
  border: none;
  color: white;
  font-weight: 800;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-top: 50px;
}

.tituloSeccion {
  width: 100%;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* MENU */

.navbar {
  background-color: #151515 !important;
}

.fa-bars {
  width: 100%;
  color: white;
  font-size: 2rem;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.offcanvas {
  width: 300px;
  color: white;
  background-color: rgb(15, 15, 15) !important;
  text-transform: uppercase;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link:hover {
  background-color: rgb(7, 82, 143);
  transition: 0.5s;
}

.btn-close {
  background-color: rgb(7, 82, 143);
  opacity: 1;
}

/* INPUT */

.ingreso {
  max-width: 300px;
  height: 30vh;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cardIngreso {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardIngreso h3 {
  font-weight: 600;
}

.formIngreso {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGasto {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

/* JARS */

.jarrones {
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.contenedorJarron {
  width: 100%;
  height: 49px;
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: right;
  text-transform: uppercase;
  align-items: center;
  margin: 2px;
  background-color: rgb(65, 65, 65);
  border-radius: 5px;
}

.tituloJarron {
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  height: 45px;
  width: 50%;
  font-size: 0.4rem;
  display: flex;
  justify-content: baseline;
  align-content: center;
  align-items: center;
  padding-left: 7%;
}

.montoJarron {
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  height: 45px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.botonJarron {
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  height: 45px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.imgJarron {
  height: 45px;
  display: flex;
}

.tituloJarron h3 {
  font-size: 0.8rem;
}

.montoJarron h3 {
  font-size: 0.8rem;
}

.botonJarron h3 {
  font-size: 0.8rem;
}
/* LIST */
.fa-trash-alt {
  width: 10px;
}
.fa-trash-alt:hover {
  color: rgb(255, 4, 4);
}

#paraListas {
  width: 60%;
}

.lista {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 10px;
}

.listaIngreso {
  width: 100%;
  font-size: 0.7rem;
  color: white;
  justify-content: space-around;
  text-align: center;
}

.listaGasto {
  width: 100%;
  font-size: 0.7rem;
  color: white;
  text-align: center;
}
.lista p {
  font-size: 0.7rem;
}

.listaIngreso h3 {
  font-size: 0.8rem;
}

.listaGasto h3 {
  font-size: 0.8rem;
}

.paraDolar {
  color: white;
  font-size: 0.7rem;
  font-weight: 800;
}

.descripcion {
  text-transform: uppercase;
}

#dolar {
  margin: 5px;
  border-radius: 5px;
}

#paraIngresos {
  display: none;
}

#paraGastos {
  display: none;
}

.ingreso {
  display: none;
}

/* #paraListas {
  display: none;
} */

/* animacion para la carga */

.fa-spinner {
  animation-name: toggle-up;
  animation-delay: 0s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes toggle-up {
  100% {
    transform: rotate(180deg);
  }
}

/* INFO */

.fa-info-circle {
  color: white;
  font-size: 2rem;
}

.info {
  color: white;
  padding: 20px;
  font-weight: 500;
}

.info p {
  margin-bottom: 20px;
}

.info ul {
  padding: 20px;

  display: flex;
  flex-direction: column;
  text-align: left;
}

.info li {
  list-style: none;
  margin: 10px;
  text-align: center;
}

.resaltar {
  font-weight: 600;
  color: rgb(7, 82, 143);
  font-weight: 800;
  font-size: 1.1rem;
}

/* INGRESOS */

#seccionListaIngresos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-money-check-alt {
  color: white;
  font-size: 2rem;
}

.alert {
  margin: 10px;
}

/* GASTOS */

#jarronesGastos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-comments-dollar {
  color: white;
  font-size: 2rem;
}

.gastosPorJarron {
  width: 50%;
  background-color: rgb(54, 54, 54);
  border-radius: 3px;
  margin-top: 10px;
}

.gastosPorJarronTitulo h3 {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}

.list-group-horizontal {
  width: 50%;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin: 5px;
}

.list-group-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* CONFIGURACION */

.sectionConfiguracion {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.fa-cog {
  color: white;
  font-size: 2rem;
}

.formPorcentajes {
  width: 50%;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formPorcentajes form {
  margin-top: 20px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formPorcentajes form input {
  margin-bottom: 10px;
}

/* MEDIAQUERYS */

@media (max-width: 600px) {
  header {
    height: 10vh;
  }
  #paraListas {
    width: 100%;
  }

  .list-group-horizontal {
    width: 95%;
  }

  .gastosPorJarron {
    width: 95%;
  }

  .formPorcentajes {
    width: 80%;
    color: white;
  }
}
