/* GLOBALES */

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* INPUT */

.ingreso {
  width: 100%;
  height: 250px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.cardIngreso {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.cardIngreso h3 {
  font-weight: 600;
}

.formIngreso {
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGasto {
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  font-size: 2rem;
  font-weight: 500;
  border-radius: 5px;
}

/* JARS */

.jarrones {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.contenedorJarron {
  width: 100%;
  height: 50px;
  color: white;
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  border-radius: 5px;
  margin: 1px;
}

.tituloJarron {
  display: flex;
  align-items: center;
}

.imgJarron {
  height: 45px;
  display: flex;
}

/* LIST */

.lista {
  width: 100%;
  height: 50vh;
  display: flex;
  margin-top: 10px;
}

.listaIngreso {
  width: 100%;
  font-size: 1.5rem;
  color: white;
  justify-content: space-around;
  text-align: center;
}

.listaGasto {
  width: 100%;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
.lista p {
  font-size: 1.5rem;
}

/* MEDIAQUERYS */

@media (max-width: 600px) {
  .ingreso {
    width: 100%;
    height: 420px;
    flex-direction: column;
    gap: 10px;
  }

  .cardIngreso {
    width: 100%;
  }
}
